<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.finalframework.test.dao.mapper.PersonMapper">
    <sql id="sql-query">
        <if test="query != null">
            <bind name="andOr" value="'AND'"/>
            <bind name="criteria" value="query.criteria"/>
            <bind name="sort" value="query.sort"/>
            <bind name="offset" value="query.offset"/>
            <bind name="limit" value="query.limit"/>
            <include refid="sql-criteria">
                <property name="criteria" value="query.criteria"/>
            </include>
            <include refid="sql-sort">
                <property name="sort" value="query.sort"/>
            </include>
            <include refid="sql-limit">
                <property name="limit" value="query.limit"/>
            </include>
        </if>
    </sql>

    <sql id="sql-sort">
        <trim prefix="ORDER BY">
            <foreach collection="sort" item="order">
                ${order.property.column} ${order.direction.name()}
            </foreach>
        </trim>
    </sql>
    <sql id="sql-limit">
        <trim prefix="LIMIT">
            <if test="offset != null">
                #{offset},
            </if>
            <if test="limit != null">
                #{limit}
            </if>
        </trim>
    </sql>
    <sql id="sql-criteria">
        <foreach collection="criteria" item="item" open="(" close=")" separator="andOr">
            <choose>
                <when test="item.chain">
                    <bind name="criteria" value="item"/>
                    <include refid="sql-criteria"/>
                </when>
                <otherwise>

                </otherwise>
            </choose>
        </foreach>
    </sql>
</mapper>
