<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.finalframework.test.dao.mapper.PersonMapper">

    <sql id="test">
        SELECT
        <foreach collection="update" item="item" separator=",">

        </foreach>
    </sql>

    <sql id="sql-functions">
        <trim prefix="DATE(" suffix=")">

        </trim>
    </sql>

    <sql id="sql-function">
        <choose>
            <when test="'DATE' == function.name">
                <trim prefix="DATE(" suffix=")">
                    <include refid="sql-function"/>
                </trim>
            </when>
            <when test="'AND' == function.name()">

            </when>
        </choose>
    </sql>


    <sql id="sql-value">
        <choose>
            <when test="value is collection">
                <foreach collection=""
            </when>
        </choose>
    </sql>
</mapper>
