<!DOCTYPE html>
<html lang="zh_CN" layout:decorate="layout/dashboard.html" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>enums</title>

</head>
<body>
<div id="enums" layout:fragment="content">
    <div class="container-fluid">
    </div>
    <script>
        new Vue({
            el: '#enums',
            data: {},
            mounted: function () {
            },
            methods: {}
        })
        ;
    </script>
</div>
</body>
</html>