<!DOCTYPE html>
<html lang="zh_CN" layout:decorate="layout/dashboard.html" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>redis</title>

</head>
<body>
<div id="redis" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-nav-tabs">
                    <div class="card-header card-header-primary">
                        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active show" data-toggle="tab" href="#value">
                                            <i class="material-icons">code</i>
                                            Value
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#hash">
                                            <i class="material-icons">view_list</i>
                                            Hash
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#list">
                                            <i class="material-icons">view_headline</i>
                                            List
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#hash">
                                            <i class="material-icons">view_module</i>
                                            Set
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#hash">
                                            <i class="material-icons">sort</i>
                                            Set
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content">
                        <!-- Redis Value-->
                        <div class="tab-pane active show" id="value">
                            <div class="card-body">
                                <form @submit.prevent="doGet">
                                    <!--Key-->
                                    <div class="row">
                                        <label class="col-md-1 col-form-label">Key *</label>
                                        <div class="col-md-11">
                                            <div class="form-group has-default bmd-form-group">
                                                <input class="form-control" type="text" v-model="value.key">
                                            </div>
                                        </div>
                                    </div>
                                    <!--Value-->
                                    <div class="row">
                                        <label class="col-md-1 col-form-label">Value *</label>
                                        <div class="col-md-11">
                                            <div class="form-group has-default bmd-form-group">
                                                <input class="form-control" type="text" v-model="value.value">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer ">
                                <div class="mr-auto">
                                </div>
                                <button @click="doDelete(value.key)" class="btn btn-danger" type="button">
                                    <i class="material-icons">warning</i> DELETE
                                </button>
                                <button @click="doSet" class="btn btn-success" type="button">
                                    <i class="material-icons">settings</i> SET
                                </button>
                                <button @click="doGet" class="btn btn-info" type="button">
                                    <i class="material-icons">local_cafe</i> GET
                                </button>
                            </div>

                        </div>
                        <!--Redis Hash-->
                        <div class="tab-pane " id="hash">
                            <div class="card-body">
                                <form @submit.prevent="doHGet">
                                    <!--Key-->
                                    <div class="row">
                                        <label class="col-md-1 col-form-label">Key *</label>
                                        <div class="col-md-11">
                                            <div class="form-group has-default bmd-form-group">
                                                <input class="form-control" type="text" v-model="hash.key">
                                            </div>
                                        </div>
                                    </div>
                                    <!--c-->
                                    <div class="row">
                                        <label class="col-md-1 col-form-label">Field *</label>
                                        <div class="col-md-11">
                                            <div class="form-group has-default bmd-form-group">
                                                <input class="form-control" type="text" v-model="hash.field">
                                            </div>
                                        </div>
                                    </div>
                                    <!--Value-->
                                    <div class="row">
                                        <label class="col-md-1 col-form-label">Value *</label>
                                        <div class="col-md-11">
                                            <div class="form-group has-default bmd-form-group">
                                                <input class="form-control" type="text" v-model="hash.value">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer ">
                                <div class="mr-auto">
                                </div>
                                <button @click="doDelete(hash.key)" class="btn btn-danger" type="button">
                                    <i class="material-icons">warning</i> DELETE
                                </button>
                                <button @click="doHSet" class="btn btn-success" type="button">
                                    <i class="material-icons">settings</i> HSET
                                </button>
                                <button @click="doHGet(hash.key)" class="btn btn-info" type="button">
                                    <i class="material-icons">local_cafe</i> HGETALL
                                </button>
                                <button @click="doHGet(hash.key,hash.field)" class="btn btn-info" type="button">
                                    <i class="material-icons">local_cafe</i> HGET
                                </button>
                            </div>
                        </div>

                        <!-- Redis List-->
                        <div class="tab-pane" id="list">
                            <div class="card-body">
                                <form @submit.prevent="doGet">
                                    <!--Key-->
                                    <div class="row">
                                        <label class="col-md-1 col-form-label">Key *</label>
                                        <div class="col-md-11">
                                            <div class="form-group has-default bmd-form-group">
                                                <input class="form-control" type="text" v-model="list.key">
                                            </div>
                                        </div>
                                    </div>
                                    <!--Value-->
                                    <div class="row">
                                        <label class="col-md-1 col-form-label">Value *</label>
                                        <div class="col-md-11">
                                            <div class="form-group has-default bmd-form-group">
                                                <input class="form-control" type="text" v-model="list.value">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer ">
                                <div class="mr-auto">
                                </div>
                                <button @click="doDelete(list.key)" class="btn btn-danger" type="button">
                                    <i class="material-icons">warning</i> DELETE
                                </button>
                                <button @click="doLPop" class="btn btn-success" type="button">
                                    <i class="material-icons">settings</i> LPOP
                                </button>
                                <button @click="doLPush" class="btn btn-info" type="button">
                                    <i class="material-icons">local_cafe</i> LPUSH
                                </button>
                                <button @click="doRPop" class="btn btn-success" type="button">
                                    <i class="material-icons">settings</i> RPOP
                                </button>
                                <button @click="doRPush" class="btn btn-info" type="button">
                                    <i class="material-icons">local_cafe</i> RPUSH
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">article</i>
                        </div>
                        <h4 class="card-title">Result</h4>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group has-default bmd-form-group">
                                    <textarea class="form-control" id="source-editor" rows="10"
                                              v-model="JSON.stringify(data,null,4)"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script>
        new Vue({
            el: '#redis',
            data: {
                value: {
                    key: null,
                    value: null,
                },
                hash: {
                    key: null,
                    field: null,
                    value: null
                },
                list: {
                    key: null,
                    value: null
                },
                data: null
            },
            mounted: function () {
            },
            methods: {
                /**
                 * @see get key
                 */
                doGet: function () {
                    let self = this;
                    swal.showLoading();
                    $.http.get('/api/redis/value', {key: this.value.key}, function (result) {
                        swal.close();
                        self.data = result.data;
                    })
                },
                /**
                 * @see set key value
                 */
                doSet: function () {
                    let self = this;
                    swal.showLoading();
                    $.http.post('/api/redis/value', {key: this.value.key, value: this.value.value}, function (result) {
                        swal.close();
                        self.doGet();
                    })
                },
                //   hash
                /**
                 * @see hget key field
                 */
                doHGet: function (key, field) {
                    let self = this;
                    swal.showLoading();
                    $.http.get('/api/redis/hash', {key: key, field: field}, function (result) {
                        swal.close();
                        self.data = result.data;
                    })
                },
                /**
                 * @see hset key field value
                 */
                doHSet: function () {
                    let self = this;
                    swal.showLoading();
                    $.http.post('/api/redis/hash', {key: self.hash.key, field: self.hash.field, value: self.hash.value}, function (result) {
                        swal.close();
                        self.doHGet(self.hash.key, self.hash.field);
                    })
                },
                //   list
                doLPop: function () {
                    let self = this;
                    swal.showLoading();
                    $.http.get('/api/redis/list/lpop', {key: self.list.key}, function (result) {
                        swal.close();
                        self.data = result.data;
                    });
                },
                doLPush: function () {
                    let self = this;
                    swal.showLoading();
                    $.http.post('/api/redis/list/lpush', {key: self.list.key, value: self.list.value.split(',')}, function (result) {
                        swal.close();
                        self.data = result.data;
                    });
                },
                doRPop: function () {
                    let self = this;
                    swal.showLoading();
                    $.http.get('/api/redis/list/rpop', {key: self.list.key}, function (result) {
                        swal.close();
                        self.data = result.data;
                    });
                },
                doRPush: function () {
                    let self = this;
                    swal.showLoading();
                    $.http.post('/api/redis/list/rpush', {key: self.list.key, value: self.list.value}, function (result) {
                        swal.close();
                        self.data = result.data;
                    });
                },
                doDelete: function (key) {
                    let self = this;
                    swal.showLoading();
                    $.http.delete('/api/redis/key', {key: key}, function (result) {
                        swal.close();
                        self.data = result.data;
                    })
                }
            }
        })
        ;
    </script>
</div>
</body>
</html>