<!DOCTYPE html>
<html lang="zh_CN" layout:decorate="layout/dashboard.html" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>request-mapping</title>

</head>
<body>
<div id="request-mapping" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form @submit.prevent="doQuery">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">mail_outline</i>
                            </div>
                            <h4 class="card-title">RequestPatterns</h4>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <label class="col-md-1 col-form-label" for="pattern-select">Patterns *</label>
                                <div class="col-md-11">
                                    <div class="form-group bmd-form-group">
                                        <select class="selectpicker" data-live-search="true"
                                                data-size="7" data-style="select-with-transition" data-width="100%"
                                                id="pattern-select" title="Choose Entity"
                                                v-model="pattern">
                                            <option :data-content="formatPattern(requestPattern)"
                                                    :value="requestPattern.pattern"
                                                    v-for="requestPattern in requestPatterns"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <div class="mr-auto">
                            </div>
                            <button @click="doQuery" class="btn btn-info" type="button">query</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#request-mapping',
            data: {
                requestPatterns: [],
                pattern: null
            },
            mounted: function () {
                this.queryRequestPatterns();
            },
            methods: {
                queryRequestPatterns: function () {
                    let self = this;
                    swal.showLoading();

                    $.http.get('/api/request/patterns', {}, function (result) {
                        swal.close();
                        self.requestPatterns = result.data;

                        setTimeout(function () {
                            $('#pattern-select').selectpicker('refresh');
                        }, 500)
                    })
                },
                formatPattern: function (requestPattern) {

                    let methods = "";

                    if (requestPattern.methods == null || requestPattern.methods.length == 0) {
                        methods += `<div style="display: inline-block; min-width: 100px;text-align: center"><span class='badge badge-info'>REQUEST</span></div>`;
                    } else {

                        for (let index in requestPattern.methods) {

                            let method = requestPattern.methods[index];

                            switch (method) {
                                case 'GET' :
                                    methods += `<div style="display: inline-block; min-width: 100px;text-align: center"><span class='badge badge-success'>${method}</span></div>`;
                                    break;
                                case 'POST' :
                                    methods += `<div style="display: inline-block; min-width: 100px;text-align: center"><span class='badge badge-rose'>${method}</span></div>`;
                                    break;
                                case 'DELETE' :
                                    methods += `<div style="display: inline-block; min-width: 100px;text-align: center"><span class='badge badge-danger'>${method}</span></div>`;
                                    break;
                            }

                        }
                    }


                    return methods + `<span>${requestPattern.pattern}</span>`
                },
                doQuery: function (e) {

                }
            }
        })
        ;
    </script>
</div>
</body>
</html>