<!DOCTYPE html>
<html lang="en" layout:decorate="layout/admin.html" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Zookeeper</title>

</head>
<body>
<div id="zookeeper" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form @submit.prevent="submit2()">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">mail_outline</i>
                            </div>
                            <h4 class="card-title">Path</h4>
                        </div>
                        <div class="card-body ">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating" for="path"> Path *</label>
                                <input aria-required="true" class="form-control" id="path" required="true" type="text"
                                       v-model="path">
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <div class="mr-auto">
                            </div>
                            <button @click="deleteNode(path)" class="btn btn-danger" type="button">DELETE</button>
                            <button class="btn btn-info" type="submit">LS</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Simple Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Path</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item,index) in paths">
                                    <td class="text-center" v-html="index + 1">1</td>
                                    <td v-html="item">Andrew Mike</td>
                                    <td class="td-actions text-right">
                                        <button @click="view(path == '/' ? '/' +item : path + '/' + item)"
                                                class="btn btn-success" rel="tooltip"
                                                type="button">
                                            <i class="material-icons">visibility</i>
                                        </button>
                                        <button @click="ls(path == '/' ? '/' +item : path + '/' + item)"
                                                class="btn btn-info" rel="tooltip"
                                                type="button">
                                            <i class="material-icons">keyboard_tab</i>
                                        </button>
                                        <button @click="deleteNode(path == '/' ? '/' +item : path + '/' + item)"
                                                class="btn btn-danger" rel="tooltip"
                                                type="button">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        new Vue({
            el: '#zookeeper',
            data: {
                path: "/",
                paths: ["dubbo", "haha"]
            },
            mounted: function () {
                this.ls(this.path);
            },
            methods: {
                submit2: function (e) {
                    e.preventDefault();
                    alert("haha");
                    this.ls(this.path);
                    return false;
                },
                ls: function (path) {
                    let self = this;
                    self.path = path;
                    swal.showLoading();
                    $.http.get('/api/zookeeper/ls', {path: path}, function (result) {
                            swal.close();
                            self.paths = result.data;
                            console.log(self.paths);
                        }
                    )
                },
                deleteNode: function (path) {
                    alert("delete");
                    let self = this;
                    swal.showLoading();
                    $.http.delete('/api/zookeeper', {path: path}, function (result) {
                        swal.close();
                        self.ls(self.path);
                    })
                },
                view: function (path) {

                }
            }
        })
        ;
    </script>
</div>
</body>
</html>