<!DOCTYPE html>
<html lang="zh_CN" layout:decorate="layout/dashboard.html" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>query</title>

</head>
<body>
<div id="query" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form @submit.prevent="doQuery">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">mail_outline</i>
                            </div>
                            <h4 class="card-title">Query</h4>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <label class="col-md-1 col-form-label" for="entity-select">Entity *</label>
                                <div class="col-md-11">
                                    <div class="form-group bmd-form-group">
                                        <select class="selectpicker" data-live-search="true"
                                                data-size="7" data-style="select-with-transition" data-width="100%"
                                                id="entity-select" title="Choose Entity"
                                                v-model="query.entity">
                                            <option :value="item" v-for="item in entities" v-html="item"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-1 col-form-label" for="query-select">Query *</label>
                                <div class="col-md-11">
                                    <div class="form-group bmd-form-group">
                                        <select class="selectpicker" data-live-search="true"
                                                data-size="7" data-style="select-with-transition" data-width="100%"
                                                id="query-select" title="Choose Query"
                                                v-model="query.clazz">
                                            <option :value="item" v-for="item in queries"
                                                    v-html="item"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-1 col-form-label">Value</label>
                                <div class="col-md-11">
                                    <div class="form-group has-default bmd-form-group">
                                        <textarea class="form-control" id="query-value" rows="10">{}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <div class="mr-auto">
                            </div>
                            <button @click="format" class="btn btn-default" type="button">format</button>
                            <button @click="doQuery" class="btn btn-info" type="button">query</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-12">
                <div class="card card-nav-tabs">
                    <div class="card-header card-header-primary">
                        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">

                                    <li class="nav-item">
                                        <a class="nav-link active show" data-toggle="tab" href="#sql">
                                            <i class="material-icons">chat</i>
                                            SQL
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#xml">
                                            <i class="material-icons">face</i>
                                            XML
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">


                        <div class="tab-content text-center">
                            <div class="tab-pane active show" id="sql">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group has-default bmd-form-group">
                                            <input class="form-control" readonly type="text" v-model="result.sql">
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Property</th>
                                            <th>JavaType</th>
                                            <th>TypeHandler</th>
                                            <th>Value</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(parameterMapping, index) in result.parameterMappings">
                                            <td class="text-center" v-html="index + 1">1</td>
                                            <td v-html="parameterMapping.property">Andrew Mike</td>
                                            <td v-html="parameterMapping.javaType">Develop</td>
                                            <td v-html="parameterMapping.typeHandler">Develop</td>
                                            <td v-html="JSON.stringify(parameterMapping.value)">Develop</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane " id="xml">
                                <textarea class="form-control" id="xml-value" rows="10"
                                          v-html="$.format(result.script, {method: 'xml'})"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        new Vue({
            el: '#query',
            data: {
                editor: null,
                entities: [],
                queries: [],
                query: {
                    entity: null,
                    clazz: null,
                },
                result: {
                    script: "",
                    sql: null,
                    parameterMappings: []
                },
            },
            mounted: function () {
                let self = this;
                self.editor = CodeMirror.fromTextArea(document.getElementById('query-value'), {
                    lineNumbers: true,
                    matchBrackets: true,
                    mode: "application/json",
                    indentUnit: 4,
                    indentWithTabs: true,
                });

                self.init();
            },
            methods: {
                init: function () {
                    let self = this;
                    swal.showLoading();
                    $.http.get('/api/models/entity', {}, function (result) {
                        swal.close();
                        self.entities = result.data;
                        setTimeout(function () {
                            $('#entity-select').selectpicker('refresh');
                        }, 500)
                    });
                    $.http.get('/api/models/query', {}, function (result) {
                        swal.close();
                        self.queries = result.data;
                        setTimeout(function () {
                            $('#query-select').selectpicker('refresh');
                        }, 500)
                    });

                },
                format: function () {
                    let value = this.editor.getValue();
                    value = $.format(value, {method: 'json'});
                    this.editor.getDoc().setValue(value);
                },
                doQuery: function (e) {
                    e.preventDefault();
                    let self = this;
                    swal.showLoading();


                    let query = $.extend({'@class': self.query.clazz}, JSON.parse(self.editor.getValue()));

                    $.http.post('/api/mybatis/query', {
                        entity: self.query.entity,
                        query: JSON.stringify(query)
                    }, function (result) {
                        swal.close();
                        self.result = result.data;
                    })

                    return false;
                }
            }

        })
        ;
    </script>
</div>
</body>
</html>