#set($package = $qEntity.package)
#set($entity = $qEntity.entity)
#set($simpleName = $qEntity.simpleName)
#set($properties = $qEntity.properties)
package ${package};

import org.finalframework.data.annotation.enums.PersistentType;
import org.finalframework.data.query.QProperty;
import org.finalframework.data.query.AbsQEntity;
import ${entity.package}.${entity.simpleName};

import javax.annotation.Generated;

#parse("/template/parse/header.vm")
@Generated("org.finalframework.coding.EntityProcessor")
public final class ${simpleName} extends AbsQEntity<${entity.idProperty.type.replace(
    "java.lang.","")},${entity.simpleName}>{

public ${simpleName}() {
        super(${entity.simpleName}.class);
    }

public ${simpleName}(String table) {
        super(${entity.simpleName}.class, table);
    }

public static final ${simpleName} ${entity.simpleName} = new ${simpleName}();

#foreach($property in $properties)
    public static final QProperty<${property.type.replace("java.lang.","")}> ${property.name} = ${entity.simpleName}.getRequiredProperty("${property.path}");
#end

    @Override
    protected void initProperties() {
        super.initProperties();

#foreach($property in $properties)
        addProperty(
                QProperty.builder(this,${property.type.replace("java.lang.","")}.class)
                        .path("${property.path}").name("${property.name}").column("${property.column}")
                        .idProperty(${property.idProperty}).persistentType(PersistentType.${property.persistentType})
                        .insertable(${property.insertable}).updatable(${property.updatable}).selectable(${property.selectable})
                        .build()
        );
#end

    }


}
