#* @formatter:off *#
#set($dataSource = $dataSourceAutoConfiguration)
## 数据源列表
#set($dataSources = $dataSource.dataSources)
package ${dataSource.packageName};
## import
import org.finalframework.data.datasource.DataSourceAutoConfigurationProperties;
import org.springframework.boot.autoconfigure.AutoConfigureBefore;
import org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration;
import org.springframework.boot.context.properties.ConfigurationProperties;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

import javax.sql.DataSource;
import java.sql.SQLException;

## 类声明
@Configuration
@AutoConfigureBefore(DataSourceAutoConfiguration.class)
public class ${dataSource.simpleName} {


    @Bean
    @ConfigurationProperties(prefix = "${dataSource.prefix}")
    public DataSourceAutoConfigurationProperties ${dataSource.dataSource}AutoConfigurationProperties(){
        return new DataSourceAutoConfigurationProperties();
    }

    @Bean
    public DataSource ${dataSource.dataSource}() throws SQLException {
        return ${dataSource.dataSource}AutoConfigurationProperties().build();
    }

}
