#* @formatter:off *#
#foreach($entry in ${springFactories.entrySet()})
    #set($key = $entry.key)
    #set($list = $entry.value)
    #if($list)
# ${key}
${key}=\
        #foreach($!{item} in $!{list})
            #if($foreach.hasNext)
${item},\
            #else
${item}
            #end
        #end
    #end
#end

