#foreach($entry in ${springFactories.springFactories.entrySet()})
    #set($key = $entry.key)
    #set($list = $entry.value)
    #if($list)
    # ${key.simpleName}
    ${key.qualifiedName}=\
        #foreach($!{item} in $!{list})
            #if($foreach.hasNext)
                ${item},\
            #else
                ${item}
            #end
        #end
    #end
#end

