<!DOCTYPE html>
<html lang="en" layout:decorate="layout/admin.html"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="enums" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Simple Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>simpleName</th>
                                    <th>Name</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(value,key) in enums">
                                    <td v-html="key">simpleName</td>
                                    <td v-html="value">Name</td>
                                    <td class="td-actions text-right">
                                        <a :href="'/beans/enums/i18n?name=' + key" class="btn btn-info"
                                           data-original-title="" rel="tooltip" title="" type="button">
                                            <i class="material-icons">language</i>
                                        </a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var enums = new Vue({
            el: '#enums',
            data: {
                enums: {}
            },
            mounted: function () {
                let _this = this;
                _this.query();
            },
            methods: {
                query: function () {
                    let _this = this;
                    $.http.get({
                        url: '/api/enums',
                        data: {},
                        callback: function (result) {
                            if (result.success) {
                                _this.enums = result.data;
                            }
                        }
                    })
                }
            }
        });

    </script>
</div>
</body>
</html>