/**
 * Markdown Style
 */

body {
    background-color: #073642 !important;
}

.float-block {
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 2em;
}

.target-fix {
    position: relative;
    /*偏移值*/
    top: 54px;
    display: block;
    height: 0;
    overflow: hidden;
}

.markdown {
    font-size: 1.2em;
    font-family: Roboto, Helvetica, Arial, sans-serif;;
}

.markdown h1 p {
    margin: 0;
    padding: 0;
}

.markdown p {
    font-size: 1.1em;
    font-family: Roboto, Helvetica, Arial, sans-serif;;
}

.markdown article h1 {
    display: none;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    /*border-bottom: 1px solid #9c27b0;*/
    margin-top: 20px;
    margin-bottom: 20px;
}

.markdown table thead th {
    color: #9c27b0 !important;
    background-color: #eeeeee;
    font-weight: bold !important;
    text-align: center;
}

.markdown table tbody td {
    text-align: center;
}


.markdown h1 {
    font-size: 2em;
    font-weight: normal;
    border-bottom: 1px solid #DDDDDD;
    padding-top: 20px;
    padding-bottom: 20px;
}


.markdown .post-content h2, .markdown .post-content h3, .markdown .post-content h4, .markdown .post-content h5, .markdown .post-content h6 {
    /*margin-left: -20px;*/
    border-left: 5px solid #9c27b0;
    padding-left: 15px;
    font-weight: normal;
}

/* ![]() */
.markdown a {
    cursor: pointer !important;
}

.markdown > p {
    text-indent: 2em;
}

.markdown p > img {
    max-width: 80%;
    height: auto;
    vertical-align: middle;
    border: 0;
    cursor: -webkit-zoom-in;
    transition: all .25s ease-in-out;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
}

.markdown .image-caption {
    min-width: 20%;
    max-width: 80%;
    min-height: 22px;
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
    color: #969696;
    line-height: 1.7;
}

.markdown .float-block {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 2em;
}

/* **Strong** */
.markdown strong {
    color: #e91e63;
}

/*>*/
.markdown blockquote {
    margin-left: 2em;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
    background-color: #F8F9FA;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    /* height: calc(100vh - 4rem); */
    height: 100%;
    overflow-y: auto;
    /*padding-top: 1.5rem;*/
    /*padding-bottom: 1.5rem;*/
    font-size: .875rem;
}

.flex-order-1 {
    order: 1;
    -ms-flex-order: 1;
}

.flex-order-2 {
    order: 2;
    -ms-flex-order: 2;
}

.toc {
    font-size: .875rem;
    margin-top: 40px;
}

.markdown .toc a.active {
    font-weight: bold;
    color: purple !important;

}

.section {
    /*padding: 70px 0;*/
    margin-top: -60px;
}

.markdown div.highlight {
    /*background-color: #ececec;*/
    /*vertical-align: middle !important;*/
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}

/*code, pre {*/
/*    font-family: Cascadia Code, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;*/
/*}*/

/*.markdown p code.highlighter-rouge {*/
/*    border: 1px solid;*/
/*    padding: 4px;*/
/*    background-color: beige;*/
/*    border-radius: 5px;*/
/*    margin: 5px;*/
/*}*/


.post-title {
    margin-top: 40px !important;
    font-size: 32px;
    border-bottom: 1px solid #FFF;
}