<!DOCTYPE html>
<html lang="zh_CN" layout:decorate="layout/dashboard.html" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>jad</title>

</head>
<body>
<div id="jad" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card ">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">search</i>
                    </div>
                    <h4 class="card-title">Query</h4>
                </div>
                <div class="card-body ">
                    <form class="form-horizontal">
                        <!--Class-->
                        <div class="row">
                            <label class="col-md-1 col-form-label">Class</label>
                            <div class="col-md-11">
                                <div class="form-group has-default bmd-form-group">
                                    <input class="form-control" type="text" v-model="query.clazz">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-1"></label>
                            <div class="col-md-11">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" id="inlineCheckbox1" type="checkbox"
                                               value="option1"> Spring
                                        <span class="form-check-sign"><span class="check"></span></span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" id="inlineCheckbox2" type="checkbox"
                                               value="option2"> Final
                                        <span class="form-check-sign"><span class="check"></span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer ">
                    <div class="mr-auto">
                    </div>
                    <button @click="doJad" class="btn btn-info" type="button">QUERY</button>
                </div>
            </div>
        </div>

        <!--JadView-->
        <div class="row">
            <div class="card ">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">search</i>
                    </div>
                    <h4 class="card-title">JadView</h4>
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-default bmd-form-group">
                                <textarea class="form-control" id="source-editor" rows="100">{}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <div class="mr-auto">
                    </div>
                    <button @click="doJad" class="btn btn-info" type="button">QUERY</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#jad',
            data: {
                editor: null,
                query: {
                    clazz: null
                },
                jad: null
            },
            mounted: function () {
                let self = this;

                self.editor = CodeMirror.fromTextArea(document.getElementById('source-editor'), {
                    lineNumbers: true,
                    matchBrackets: true,
                    mode: "text/x-java",
                    // mode: "application/xml",
                    indentUnit: 4,
                    indentWithTabs: false,
                    // theme: 'solarized dark'
                });
                self.editor.setSize('auto', '800px');

                self.init();

            },
            methods: {
                init: function () {
                    let self = this;
                    self.query.clazz = $.query.string('class');

                    if (self.query.clazz) {
                        self.doJad();
                    }
                },
                doJad: function () {
                    let self = this;
                    swal.showLoading();

                    $.http.get('/api/devops/jad', self.query, function (result) {
                        swal.close();
                        self.jad = result.data;

                        self.editor.getDoc().setValue(self.jad.source);

                        console.log(self.jad);
                    })
                }
            }
        })
        ;
    </script>
</div>
</body>
</html>