<!DOCTYPE html>
<html lang="zh_CN" layout:decorate="layout/dashboard.html" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>logger</title>

</head>
<body>
<div id="logger" layout:fragment="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Simple Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Logger</th>
                                    <th>Level</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(logger,index) in loggers">
                                    <td class="text-center" v-html="index + 1">1</td>
                                    <td v-html="logger.name">Class</td>
                                    <td>
                                        <span class="badge badge-info" v-html="logger.level"></span>
                                        <!--                                        <select class="selectpicker" data-live-search="true"-->
                                        <!--                                                data-size="7" data-style="select-with-transition" data-width="100%"-->
                                        <!--                                                id="query-select" title="Choose Query">-->
                                        <!--                                            <option :value="level" v-for="level in levels"-->
                                        <!--                                                    v-html="level"></option>-->
                                        <!--                                        </select>-->
                                    </td>
                                    <td class="td-actions text-right">
                                        <button
                                                @click="doLogger(logger)" class="btn btn-rose"
                                                rel="tooltip" type="button">
                                            <i class="material-icons">settings</i>
                                        </button>
                                        <button
                                                class="btn btn-rose" rel="tooltip"
                                                type="button">
                                            <i class="material-icons">visibility</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script>
        new Vue({
            el: '#logger',
            data: {
                loggers: [],
                levels: ['TRACE', 'DEBUG', 'INFO', 'WARN', 'ERROR'],
            },
            mounted: function () {
                this.doQuery();
            },
            methods: {
                doQuery: function () {
                    let self = this;

                    swal.showLoading();

                    $.http.get('/api/devops/logger', {}, function (result) {
                        swal.close();

                        self.loggers = result.data;

                        // setTimeout(function () {
                        //     $('.selectpicker').selectpicker('refresh');
                        // },500);

                    })
                },
                /**
                 * 更改logger
                 * @param logger
                 */
                doLogger: function (logger) {
                    swal.fire({
                        title: 'Change Level',
                        html: `<div class="row">
                                    <div class="col-12">
                                        <input class="form-control" type="text" id="logger-name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <select class="selectpicker" data-live-search="true"
                                                data-size="7" data-style="select-with-transition" data-width="100%"
                                                id="logger-level" title="Choose Level">
                                            <option value="TRACE">TRACE</option>
                                            <option value="DEBUG">DEBUG</option>
                                            <option value="INFO">INFO</option>
                                            <option value="WARN">WARN</option>
                                            <option value="ERROR">ERROR</option>
                                        </select>
                                    </div>
                                </div>`,
                        showCancelButton: true,
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        buttonsStyling: false,
                        onOpen: function () {
                            $('#logger-name').val(logger.name);
                            $('#logger-level').selectpicker('val', logger.level);
                        }
                    }).then(function (result) {

                        let value = $('#logger-level').selectpicker('val');

                        swal.showLoading();
                        $.http.post('/api/devops/logger', {name: logger.name, level: value}, function (result) {
                            swal.close();
                            if (result.success) {
                                swal.fire({
                                    type: 'success',
                                    html: `Logger level has changed to: <strong>${value}</strong>`,
                                    confirmButtonClass: 'btn btn-success',
                                    buttonsStyling: false
                                })
                            }
                        })


                    }).catch(swal.noop);
                }
            }
        })
        ;
    </script>
</div>
</body>
</html>