<!DOCTYPE html>
<html lang="zh" class="theme-dark">

{% include head.html %}

<body data-offset="100" data-spy="scroll" data-target="#toc" id="body">
<!-- Extra details for Live View on GitHub Pages -->

<!-- Navbar -->
{% include navbar.html %}

<div class="markdown">
  <div class="markdown-header">
    {% assign title = page.title %}
    {% if page.subtitle %}
    {% assign title = page.title | append: '——' | append: page.subtitle %}
    {% endif %}
    <!-- post header-->

  </div>
  <!-- End Navbar -->
  <div class="markdown-body">
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <div class="col-xl-2 d-none d-xl-block sticky-top sidebar border" id="sidebar">
          <div class="menus">
            <ul id="level1" class="menu-group level1">
              <li v-for="(menu1,index1) in sidebar.menus" class="menu-item  ">
                <a :href="menu1.url" class="nav-link">
                  <span v-html="(index1 + 1) + '.'"></span>
                  <span v-html="menu1.name"></span>
                  <i class="expand" data-toggle="collapse"
                     v-if="menu1.menus"
                     :data-target="'#' + menu1.id" aria-expanded="true"
                     aria-controls="collapseOne">
                    <b class="caret"></b>
                  </i>
                </a>


                <ul :id="menu1.id" class="collapse menu-group level2"
                    aria-labelledby="headingOne"
                    v-if="menu1.menus"
                    data-parent="#level1" style="padding: 0;">
                  <li v-for="(menu2,index2) in menu1.menus" class="menu-item ">
                    <a :href="menu2.url" class="nav-link"
                       style="padding-left: 2em">
                      <b v-html="(index1 + 1) + '.' + (index2 + 1) + '.' "></b>
                      <span v-html="menu2.name"></span>
                      <i class="expand"
                         data-toggle="collapse"
                         :data-target="'#' + menu1.id + '-' + menu2.id"
                         v-if="menu2.menus"
                         aria-controls="collapseOne">
                        <b class="caret"></b>
                      </i>
                    </a>


                    <ul :id="menu1.id + '-' + menu2.id" class="collapse menu-group level3"
                        aria-labelledby="headingOne"
                        :data-parent="'#' + menu1.id">

                      <li v-for="(menu3,index3) in menu2.menus"
                          class="menu-item level3">
                        <a :href="menu3.url" class="nav-link"
                           style="padding-left: 3em">
                          <b v-html="(index1 + 1) + '.' + (index2 + 1) + '.' + (index3 + 1) + '.' "></b>
                          <span v-html="menu3.name"></span>
                          <i class="expand"
                             data-toggle="collapse"
                             v-if="menu3.menus"
                             :data-target="'#' + menu3.id"
                             aria-controls="collapseOne">
                            <b class="caret"></b>
                          </i>
                        </a>


                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

            </ul>

          </div>
        </div>
        <!--Content-->
        <main class="col-xl-8 col-sm-12" role="main">
          <div class="card" style="min-height: 80vh">
            <div class="card-header">
              <a href="#" id="{{ page.title | downcase | replace: ' ', '-'}}">
                <h1 class="card-title text-white">{{ title | markdownify }}</h1>
              </a>
              <div class="category">
                {{ page.description | markdownify }}
              </div>
              <div>
                {% for tag in page.tags %}
                <span class="badge badge-success">{{tag}}</span>
                {% endfor %}
              </div>
            </div>
            <div class="card-body">
              <article>
                {{ content }}
              </article>
            </div>
          </div>
        </main>
        <!--TOC-->
        <div class="d-none d-xl-block col-xl-2 sticky-top">
          <div class="card">
            <div class="card-header">
              Contents
            </div>
            <div class="card-body">
              <div id="toc" class="toc"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
<script>

  $(function () {
    $("#toc").toc();
    $("#sidebar li .expand").click(function (event) {
      event.preventDefault();
      event.stopPropagation();
      var that = $(this);
      // this.collapse()
      $(that.data('target')).collapse('toggle');
      // that.css({transform: 'rotate(180deg)'});
      // that.toggle().siblings('svg').toggle()
      // that.closest("li").children("ul").slideToggle('fast', "linear");
    });

    // $(".language-mermaid").sequenceDiagram({theme: 'hand'});

    mermaid.initialize({
      theme: 'forest',
      sequence: {
        showSequenceNumbers: true
      }
    });
    mermaid.init({}, ".language-mermaid, .language-sequence");
  })
  // mermaid.initialize({startOnLoad: true});


</script>
{% include jekyll/sidebar.jekyll %}
{% include jekyll/format-href.jekyll %}
</html>