<div class="table-responsive">

  <table>
    <thead>
    <tr>
      <th>类型</th>
      <th>参数</th>
      <th>结果</th>
      <th>普通</th>
      <th>视图</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>序列化</td>
      <td class="text-rose">Object</td>
      <td class="text-rose">String</td>
      <td>toJson(Object)</td>
      <td>toJson(Object,Class)</td>
    </tr>
    <tr>
      <td rowspan="4">反序列化</td>
      <td class="text-rose">String,Class</td>
      <td class="text-rose">Object</td>
      <td>toObject(String,Class)</td>
      <td>toObject(String,Class,Class)</td>
    </tr>
    <tr>
      <td class="text-rose">String,Type</td>
      <td class="text-rose">Object</td>
      <td>toObject(String,Type)</td>
      <td>toObject(String,Type,Class)</td>
    </tr>
    <tr>
      <td class="text-rose">String,Class</td>
      <td class="text-rose">List&lt;Object&gt;</td>
      <td>toList(String,Class)</td>
      <td>toList(String,Class,Class)</td>
    </tr>
    <tr>
      <td class="text-rose">String,Class</td>
      <td class="text-rose">Set&lt;Object&gt;</td>
      <td>toSet(String,Type)</td>
      <td>toSet(String,Type,Class)</td>
    </tr>
    </tbody>
  </table>
</div>
